<div id="thingiverse_tab" data-bind="visible: enabled()">
	<div class="row-fluid">
	    <iframe is="x-frame-bypass" src="https://www.thingiverse.com/" data-bind="attr: {src: url}" frameborder="0"></iframe>
	</div>
</div>
