<h3>Thingiverse Plugin Settings</h3>
<form class="form-horizontal">
    <div class="control-group" title="Thingiverse URL">
        <label class="control-label">Thingiverse URL</label>
        <div class="controls">
            <input type="text" disabled class="input-block-level" data-bind="value: settings.plugins.thingiverse.url">
        </div>
    </div>
    <div class="control-group">
		<div class="controls">
			<label class="checkbox"><input type="checkbox" data-bind="checked: settings.plugins.thingiverse.enabled"/>Enable Thingiverse tab!</label>
		</div>
	</div>
</form>

<div class="row-fluid">
    <h3><b style="color:red">Important note for plugin to work!</b></h3>
    <p>As you all know or not, in the issue section on github a lot of users (all of them) complain that the plugin is not working. Well this is true, BUT
    the problem is not the plugin itself, Thingiverse, from security reasons (XSS attack, Proxy buffers, etc... ), blocks the possibility of their website
    <a href="https://www.thingiverse.com/" target="_blank">Thingiverse.com</a>
    to be displayed on other pages than *.makerbot.com *.thingiverse.com *.mbot.me *.onshape.com</p>
    <p>This issue is very difficult to fix but the problem is in development, so a fix will eventually appear.</p>

    <h4 style="color:blue">Until then what do I need to do?</h4>
    <p>You need to install a small addon on your browser (Chrome/Firefox)</p>
    <h5>For Chrome users:</h5>
    <p>You need to install this addon <a href="https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa" target="_blank">Requestly</a></p>
    <p>If the chrome website webstore link is not working use this and click download from <a href="https://www.requestly.in/" target="_blank">Requestly.in</a> </p>
    <p>After installing: Open App -> Create a new rule -> Modify Headers ->
    Set a name (eq. Remove Content-Security-Policy) ->
    Set modifier to <b><span style="color: red">Remove</span></b> ->
    Set type to <b><span style="color: red">Response</span></b> ->
    Specify the header to <b><span style="color: red">Content-Security-Policy</span></b>
    </p>
    <img width="250" src="https://raw.githubusercontent.com/stefancandrea/OctoPrint-Thingiverse/master/openAppChrome.jpg" alt="openAppChrome">
    <img width="250" src="https://raw.githubusercontent.com/stefancandrea/OctoPrint-Thingiverse/master/newRuleChrome.jpg" alt="newRuleChrome">
    <img src="https://raw.githubusercontent.com/stefancandrea/OctoPrint-Thingiverse/master/ruleDefinitionChrome.jpg" alt="ruleDefinitionChrome">

    <br>
    <h5>For Firefox users:</h5>
    <p>You need to install this addon <a href="https://addons.mozilla.org/en-US/firefox/addon/simple-modify-header/" target="_blank">simple-modify-header</a></p>
    <p>After installing: Click the app icon -> Click Start -> Click Configure -> Set Url Patterns to <b><span style="color: red">*</span></b> ->
    Set Action to <b><span style="color: red">Delete</span></b> ->
    Set Header Field Name to <b><span style="color: red">Content-Security-Policy</span></b> ->
    Set ApplyTo to <b><span style="color: red">Response</span></b>
    </p>
    <img src="https://raw.githubusercontent.com/stefancandrea/OctoPrint-Thingiverse/master/ruleDefinitionMozilla.jpg" alt="ruleDefinitionMozilla">
</div>

<div class="row-fluid">
    <h4><b>Important note for ergonomic view!</b></h4>

    <p>For a clean and ergonomic usage of the <a href="https://www.thingiverse.com/" target="_blank">Thingiverse.com</a>
    website inside the Thingiverse Plugin it is <b>highly recommended</b> to use the
    <a href="https://plugins.octoprint.org/plugins/themeify/" target="_blank"><b>Themeify plugin</b></a>.</p>

    <p>Themeify plugin installation can be done using the integrated OctoPrint Plugin Manager or using the Github
    <a href="https://plugins.octoprint.org/plugins/themeify/" target="_blank"><b>link</b></a>.</p>

    <p>After the program is installed the following settings must be manually inserted:</p>
    <ul>
        <li>Selector = '.span8'; CSS-Rule = 'width'; value = '70%'</li>
        <li>Selector = '.container'; CSS-Rule = 'width'; value = '100%'</li>
        <li>Selector = '.span4'; CSS-Rule = 'width'; value = '25%'</li>
        <li>Selector = '.row'; CSS-Rule = 'margin-left'; value = '0'</li>
    </ul>

    <p><a href="https://youtu.be/Zq1sFBgxy8o?t=498" target="_blank">A very helpful guide of the Themify plugin installation can be found here!</a></p>
</div>
